@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 16px; /* Setting base font size */
}

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif; /* Applying font family */
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
#loader {
  top: 0;
  position: fixed;
  background-color: #7600ff;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 19999;
  gap: 1vh;
}
#loader h3 {
  font-weight: 500;
}
#fullScrNav {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #7600ff;
  top: -100%;
  left: 0;
  z-index: 1100;
  opacity: 0; /* Initially hidden */
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

#fullScrNav.active {
  top: 0; /* Show when active */
  visibility: visible;
  opacity: 1;
}

#fullScrNav i {
  color: white;
  font-size: 2rem;
  background-color: white;
  color: #7600ff;
  border-radius: 50px;
}

#fullScrLinks {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  padding: 2vw;
  position: relative;
}

#close-i {
  width: 100%;
  display: flex;
  padding: 4vh 2vw;
  justify-content: end;
}

#close-i i {
  padding: 1vw;
  cursor: pointer;
}

#fullScrLinks a {
  padding: 1vw;
  width: 100%;
  border-bottom: 1px solid rgb(190, 190, 190);
  text-decoration: none;
  color: white;
}

#fullScrLinks #bx {
  border-bottom: 1px solid rgb(190, 190, 190);
}
#upper-nav {
  background-color: #7600ff;
  height: 4vh;
  width: 100vw;
  z-index: -1;
  display: flex;
  justify-content: center;
}
#upper-nav h2 {
  font-weight: 400;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
}
nav {
  padding: 2vh 5vw;
  position: sticky;
  background-color: white;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(179, 179, 179);
}

nav img {
  width: 120px;
  max-width: 150px; /* Restricting max width of logo */
  cursor: pointer;
}

nav button {
  padding: 1vh 3vw;
  border-radius: 50px;
  border: none;
  background-color: #7600ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s; /* Adding smooth transition */
}

nav button:hover {
  background-color: #5a00cc; /* Darker shade on hover */
}

#links {
  background-color: #7600ff;
  padding: 0.8vh 2vw;
  border-radius: 50px;
  display: flex;
  gap: 2vw;
  flex-wrap: wrap; /* Allow links to wrap */
}

#links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5vw;
}

#menu i {
  font-size: 1.2rem;
  background-color: #7600ff;
  color: white;
  padding: 1vh 2vw;
  border-radius: 50px;
  display: none; /* Initially hidden, visible in mobile view */
}

#menu img {
  width: 30px;
}

#page-1-hero-section {
  background-image: url(./Assets/background-01.png);
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid rgb(206, 206, 206);
  width: 100%;
  min-height: 85vh;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#hero-sec-1 {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#hero-left {
  width: 50%;
  min-width: 300px;
  height: auto;
  gap: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content-left {
  position: relative;
}
#content-left > span {
  /* font-family: "dancing script"; */
  font-size: 5rem;
  /* color: #fbc638; */
}
#hero-left h1 {
  font-size: 2rem;
  line-height: 1;
  color: #7600ff;
  min-width: 8rem;
  font-weight: 600;
  margin-bottom: 10px;
}
#hero-left p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 80%;
}

#hero-left button:hover {
  background-color: #5a00cc;
}
.cta {
  margin-top: 2vw;
  margin-bottom: 2vw;
  text-transform: uppercase;
  display: flex;
  padding: 8px 28px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  background: #6225e6;
  transition: 0.4s;
  box-shadow: 6px 6px 15px rgb(199, 199, 199);
  /* transform: skewX(-15deg); */
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 600;
}
.cta a {
  text-decoration: none;
  color: white;
}
.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #fbc638;
  }

  100% {
    fill: white;
  }
}

#hero-right {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

#hero-right img {
  max-width: 100%;
}

#hero-sec-2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 1vw 0 2vw 0;
}

#flags {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-top: 3vh;
  position: relative;
  overflow: hidden;
}

#flags img {
  width: 60px;
  max-width: 100px;
}

#white-1,
#white-2 {
  width: 15vw;
  height: 100%;
  position: absolute;
  z-index: 999;
}

#flags #white-1 {
  background: linear-gradient(to right, white, transparent);
  left: 0;
}

#flags #white-2 {
  background: linear-gradient(to left, white, transparent);
  right: 0;
}

.move {
  display: flex;
  gap: 2vw;
  animation: move 15s linear infinite;
  animation-fill-mode: forwards; /* Infinite animation for moving flags */
}

#page-2 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(./Assets/elem-05.png);
  background-size: cover;
  background-position: center;
  display: flex;
  /* justify-content: center; */
  border-bottom: 1px solid rgb(209, 209, 209);
}
/* #page-2 h1 {
  color: #555;
  text-align: center;
  width: 100%;
} */
#page-2 h2 {
  color: white;
  background-color: #7600ff;
  font-size: 1rem;
  border-radius: 50px;
  font-weight: 400;
}
#page-2 > span {
  font-size: 14px;
  font-family: "Poppins";
  margin: auto;
}

#page-2-content {
  padding-top: 5vh;
  max-width: 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
  gap: 1vw;
}

/* #floating-div img {
  width: 25vw;
}
#float-1 {
  position: absolute;
  right: 2vw;
  top: 20vh;
  animation: floatAnimation 3s ease-in-out infinite;
}

#float-2 {
  position: absolute;
  left: 2vw;
  top: 20vh;
  animation: floatAnimation 3s ease-in-out infinite;
} */

#page-3 {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  padding: 4vw;
  background-image: url(./Assets/hero-section-background-02.png);

  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(190, 190, 190);
}

#page-3-content {
  padding-top: 5vh;
  max-width: 70%;
  min-width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5vw;
}

#page-3-content h1 {
  color: white;
  background-color: #7600ff;
  padding: 1vh 3vw;
  font-size: 1rem;
  border-radius: 50px;
  font-weight: 400;
}

#page-3-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;
  padding: 0 10vw;
  margin-top: 5vw;
  padding-bottom: 3vw;
  width: 100%;
}
#page-3-cards a {
  text-decoration: none;
}
.card {
  border: 1px solid #7600ff;
  overflow: hidden;
  border-radius: 10px;
  width: 350px;
  height: 380px;
  background-color: #7600ff;
  transition: all 0.3s ease;
}
/* .card:hover {
  transform: scale(1.02);
} */
.card-top {
  overflow: hidden;
  height: 76%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-top img {
  width: 360px;
  object-position: center;
  object-fit: cover;
}
.card-btm {
  padding: 10px;
  position: relative;
  color: white;
}
.card-btm h3 {
  font-weight: 400;
  font-size: 1rem;
}

.card-btm p {
  font-weight: 300;
  font-size: 0.7rem;
  opacity: 0.8;
}
.card-btm img {
  position: absolute;
  width: 70px;
  right: 20px;
  top: -35px;
}
#flex-card {
  display: flex;
  gap: 8vw;
}

#flex-card-2 {
  display: flex;
  gap: 8vw;
}

#page-4 {
  padding-top: 4vw;
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  /* padding-bottom: 4vw; */
  flex-direction: column;
  align-items: center;
  /* border-bottom: 1px solid rgb(190, 190, 190); */
}
#page-4-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  border-bottom: 1px solid rgb(179, 179, 179);
  padding-bottom: 1.5vw;
}
#page-4 h2 {
  color: white;
  background-color: #7600ff;
  padding: 1vh 3vw;
  width: 220px;
  height: auto;
  font-size: 1rem;
  border-radius: 50px;
  font-weight: 400;
}
#page-4 p {
  font-size: 1rem;
}
/* #pr-cards {
  width: 100%;
  padding: 0 5vw;
  min-height: 75vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3vw; 
  justify-content: center; 
  align-items: center;
}
.project-card {
  background-color: white;
  height: 220px;
  width: 280px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: 2px solid rgb(192, 192, 192);
  overflow: hidden;
}
.project-card:hover{
  scale: 1.05;
}

.project-card img {
  transition: all 0.8s ease;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.project-card:hover img{
  scale: 1.6;
} */

#image-container {
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  padding: 2vw;
  flex-direction: column;
  gap: 1vw;
}
.col {
  display: flex;
  flex-direction: column;
  flex: 2 1 200px;
  height: 300px;
  width: 250px;
  background-color: black;
  position: relative;
  justify-content: end;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.col img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  transition: 2.8s ease all;
}
.text {
  z-index: 999;
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.5s ease;
}
.text p {
  padding-left: 1vw;
  line-height: 1;
  font-size: 0.8vw;
  color: white;
}
.text h4 {
  padding: 1vw;
  font-size: 2vw;
  line-height: 1;
}

/* .col:hover .text {
  transform: translateY(0px);
  opacity: 1;
} */
.row {
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  min-height: 300px;
  display: flex;
  gap: 1vw;
}
.row .wide {
  flex-grow: 4;
}
.row .short {
  flex-grow: 1;
}

#project-counter {
  background-color: #7600ff;
  width: 100%;
  color: white;
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#container {
  display: flex;
  gap: 3vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.count-container {
  display: flex;
  width: 190px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.count-container img {
  width: 70px;
  margin-right: 0px;
}
.count-container h3 {
  font-weight: 400;
  line-height: 1;
  font-size: 2.5rem;
}
.count-container h4 {
  font-weight: 400;
  line-height: 1;
  font-size: 1.1rem;
}

#page-5 {
  padding-top: 4vw;
  width: 100vw;
  height: auto;
  padding-bottom: 4vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(190, 190, 190);
}

#page-5-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2vw;
  width: 80%;
  padding-bottom: 1.5vw;
}

#page-5 h1 {
  color: #7600ff;
  line-height: 1;
  font-size: 3rem;
}
/* #page-5 h1 span{
  color: white;
} */

#page-5 p {
  font-size: 1.2rem;
  line-height: 1.2;
}
#page-5-btm {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  justify-content: space-between;
  padding: 4vw;
  gap: 2vw;
}

/* Left Section */
#about-btm {
  display: flex;
  flex-direction: column;
  padding: 4vw;
  background-color: #7600ff;
  color: white;
  border-radius: 10px;
  flex: 1;
}

/* Headings */
#about-btm h4 {
  font-size: 2.5rem;
  color: #fbc638;
  margin-bottom: 1rem;
}

/* Offers Section */
#offers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#offers p {
  font-size: 1rem;
  margin: 5px 0;
}

/* Right Section */
#btm-right {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 30%;
  min-width: 250px;
  height: 450px;
}

/* Image & Video - Smooth Transition */
#btm-right img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.5s ease-in-out;
}

#btm-right video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Smooth Hover Effect */
#btm-right:hover img {
  opacity: 0;
}

#page-6-cards {
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0 8vw;
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
}

.about-card {
  background-color: #7600ff;
  width: 280px;
  color: white;
  height: 260px;
  padding: 18px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-card-top {
  display: flex;
  justify-content: space-between;
}

.about-card-top h4 {
  font-weight: 400;
}
.about-card-top i {
  font-size: 1.8rem;
  font-weight: 400;
}

.about-card-btm h4 {
  font-weight: 500;
  font-size: 1.8rem;
}
.about-card-btm h3 {
  font-size: 0.7rem;
  opacity: 0.8;
  font-weight: 400;
}
#page-6 {
  background-image: url(./Assets/background-03.png);
  background-position: center;
  background-size: cover;
  padding-top: 4vw;
  width: 100vw;
  min-height: auto;
  padding-bottom: 4vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(190, 190, 190);
  gap: 3vw;
}

#page-6-content {
  display: flex;
  border-bottom: 1px solid rgb(190, 190, 190);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2vw;
  width: 52%;
  padding-bottom: 1.5vw;
}

#page-6-content h2 {
  color: white;
  background-color: #7600ff;
  padding: 1vh 3vw;
  width: 230px;
  height: auto;
  font-size: 1rem;
  border-radius: 50px;
  font-weight: 400;
}

#page-6 p {
  font-size: 1rem;
}
#left-right-container {
  padding-top: 2vw;
  align-items: center;
  width: 100%;
  display: flex;
  height: auto;
}
#page-6-left {
  padding: 0 2vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: red; */
}
#page-6-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: #7600ff;
  color: white;
  text-align: center;
  height: 70px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 3vw;
}

.content > h2 {
  font-size: 0.8rem;
  font-weight: 400;
}

#page-8 {
  background-image: url(./Assets/background-01.png);
  background-position: center;
  background-size: cover;
  padding-top: 4vw;
  width: 100vw;
  min-height: auto;
  padding-bottom: 4vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(190, 190, 190);
  gap: 3vw;
}

#page-8-content {
  display: flex;
  border-bottom: 1px solid rgb(190, 190, 190);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2vw;
  width: 52%;
  padding-bottom: 1.5vw;
}

#page-8-content h1 {
  color: #7600ff;
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
}

#page-8-left {
  padding: 0 2vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  /* background-color: red; */
}
#page-8-left .content {
  background-color: #7600ff;
  color: white;
  text-align: center;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 3vw;
  cursor: pointer;
  /* margin-bottom: 5px; */
  transition: all 0.3s ease;
  z-index: 1;
  border: 2px solid white;
}

.content h2 {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}

.content i {
  font-size: 1.4rem;
  transition: transform 0.3s ease-in-out;
}

.content.active i {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.answer-box {
  background-color: rgb(15, 15, 15);
  color: white;
  padding: 0px 3vw; /* Initially 0 padding */
  width: 100%;
  margin-top: -180px;
  max-height: 0px; /* Initially hidden */
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out,
    padding 0.3s ease-in-out;
  border-radius: 0 0 10px 10px;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}

#page-7 {
  width: 100vw;
  height: auto;
  position: relative;
  background-color: #7600ff;
  padding: 3vw;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}
#page-7 h2 {
  color: #7600ff;
  background-color: white;
  padding: 1vh 3vw;
  width: 270px;
  height: auto;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 50px;
}
#page-7-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2vw;
  width: 50%;
  border-bottom: 1px solid rgb(179, 179, 179);
  padding-bottom: 1.5vw;
}
#page-7-content p {
  color: white;
  font-weight: 400;
}

#testimonials {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 4vw;
}
.testimonials-card {
  margin-top: 5vw;
  width: 300px;
  height: 230px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials-card > img {
  width: 50%;
  padding-top: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.testimonials-card > p {
  font-size: 0.7rem;
  max-width: 90%;
  padding-top: 20px;
  height: 30%;
}
.comma img {
  position: absolute;
  width: 100px;
  right: -15px;
  top: -15px;
}
.client-profile {
  height: 30%;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  display: flex;
  gap: 2vw;
}
.client-profile img {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.client-profile h5 {
  font-weight: 400;
  line-height: 1;
  font-size: 1.2rem;
  color: #7600ff;
}

#row-1 {
  display: flex;
  gap: 3vw;
  width: max-content; /* Taake cards line me aaye */
  animation: slide 30s linear infinite;
}
#row-2 {
  display: flex;
  gap: 3vw;
  width: max-content; /* Taake cards line me aaye */
  animation: slide-2 30s linear infinite;
}

#footer {
  min-height: 50vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#footer-left {
  padding: 2vw 3vw;
  height: 100%;
  width: 65%;
}

#l-top {
  border-bottom: 1px solid rgb(179, 179, 179);
  padding: 1vw 0;
}
#l-top-img {
  align-items: center;
  color: #7600ff;
  display: flex;
  gap: 1vw;
}
#l-top h4 {
  font-weight: 600;
  font-size: 18px;
}
#l-top-img p {
  text-transform: uppercase;
}
#l-top-img img {
  width: 150px;
}
.l-btm {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 3vh 0;
}
.box {
  width: 30%;
}
.box h2 {
  font-weight: 500;
  margin-bottom: 10px;
}
.box ul {
  list-style: none;
}
.box ul li {
  font-size: 0.8rem;
  color: #555;
}
.social-links {
  display: flex;
  width: 100%;
  gap: 1vw;
  align-items: center;
}
.social-links #line {
  background-color: rgb(190, 190, 190);
  height: 2px;
  width: 90%;
}
#social {
  color: #7600ff;
  display: flex;
  gap: 0 0.5vw;
  font-size: 1.4rem;
}
#social > a {
  text-decoration: none;
  color: #7600ff;
  display: flex;
  gap: 0 0.5vw;
  font-size: 1.4rem;
}
#footer-right {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.contact-container {
  width: 90%;
  height: 280px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.contact-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact-container .message-box {
  height: 80px;
  overflow-y: auto;
  resize: none;
  white-space: pre-wrap;
}
.send-btn {
  background-color: #6200ea;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* @keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
} */

/* Responsive styles */
@media (max-width: 1024px) {
  #page-5-btm {
    flex-direction: column;
    align-items: center;
    gap: 3vw;
  }

  #about-btm {
    max-width: 100%;
  }

  #btm-right {
    width: 100%;
    min-height: 250px;
  }
}
@media (max-width: 760px) {
  #hero-left {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #hero-left #content-left {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #hero-right {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #content-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #floating-div img {
    display: none;
  }

  #page-2 > h1 {
    padding-top: -90px;
  }

  #float-1 {
    right: 4vw;
    top: 75%;
  }

  #float-2 {
    left: 4vw;
    top: 75%;
  }
  #page-3-cards {
    padding: 0 2vw;
  }
  #container {
    gap: 5vw;
  }
  #page-8-content {
    width: 90%;
  }
  #page-5-content {
    width: 90%;
  }
  #page-5-cards {
    row-gap: 10vw;
  }
  #page-4-content {
    width: 90%;
  }
  #page-8-left {
    width: 80%;
  }
  #footer {
    padding: 20px;
  }

  #footer-left,
  #footer-right {
    width: 100%;
    padding: 10px;
  }

  .l-btm {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .box {
    width: 100%;
    margin-bottom: 15px;
  }

  .box ul {
    display: flex;
    flex-direction: column;
  }

  .social-links {
    flex-direction: column;
    align-items: center;
  }

  #social {
    font-size: 1.2rem;
  }
}
@media (max-width: 425px) {
  #page-3-cards {
    padding: 0 0;
  }

  .card {
    width: 300px;
    height: 380px;
  }
  #page-2-content {
    width: 100%;
  }
  #page-2 > span {
    font-size: 14px;
    color: #7600ff;
    font-family: "Poppins";
  }
  #floating-div {
    display: none;
  }
  .l-btm {
    flex-wrap: wrap;
    display: flex;
  }
  /* #page-8-left{
      gap: 2vw;
  } */
}
@media (max-width: 768px) {
  #left-right-container {
    flex-direction: column;
  }
  #page-6-left {
    width: 100%;
    height: 50%;
  }
  #page-7-left {
    width: 100%;
    height: 50%;
  }
  #page-7-right {
    width: 100%;
  }
  #page-7-content {
    width: 100%;
  }
  nav #links {
    display: none; /* Hide navigation links in mobile view */
  }
  #menu i {
    display: block; /* Show menu icon in mobile view */
  }
}
